{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<h1>AboutUs</h1>
<div class="about-section">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet odio vitae tristique ullamcorper. Vivamus at luctus massa. Quisque ut felis non risus hendrerit aliquam. Proin eget massa neque. Nullam a dolor viverra, tincidunt elit sed, efficitur arcu. Duis faucibus est arcu, sit amet sodales dolor interdum consectetur. Praesent tristique ultricies lorem, in maximus eros condimentum sodales. Phasellus molestie rutrum magna at auctor. Fusce viverra iaculis est.

        Vestibulum in tellus placerat, convallis tortor non, volutpat leo. Quisque eget tincidunt tellus, ac dignissim sem. Mauris nec laoreet nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis varius volutpat. Aliquam erat volutpat. Suspendisse a tempor tellus. Curabitur iaculis sed velit at maximus. Phasellus tristique turpis ac rhoncus tempor. In ac maximus massa, vitae bibendum ex. Aliquam maximus eget massa vel facilisis. Quisque in pharetra nulla. Integer faucibus est tincidunt mauris condimentum viverra id ut nulla. Cras iaculis, ipsum malesuada molestie consectetur, lacus nibh bibendum lectus, a pellentesque lacus purus vitae eros. Pellentesque fermentum fringilla magna, consectetur porta arcu auctor at.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer efficitur leo diam, et rhoncus purus pellentesque ac. Proin interdum velit non commodo sollicitudin. Nunc eget pulvinar leo. Vestibulum ut turpis ut quam sagittis pellentesque eget vel ligula. Aliquam ex tortor, ornare ac varius eu, fermentum sit amet sapien. Duis dapibus tellus ut dolor ornare convallis.</p>
</div>
{% endblock %}
  